services:

  postgres-db:
    build: ./database/postgres
    container_name: postgres_db
    networks:
      - kafka-net
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: events_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d events_db"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  mysql-db:
    build: ./database/mysql
    container_name: mysql_db
    networks:
      - kafka-net
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 'admin_root_password' 
      MYSQL_DATABASE: 'events_db'          
      MYSQL_USER: 'admin'                  
      MYSQL_PASSWORD: 'admin_password'     
    
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5


  controller-1:
    build: ./kafka
    networks:
      - kafka-net
    container_name: controller-1
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9093"]
      interval: 10s
      timeout: 5s
      retries: 5

  controller-2:
    build: ./kafka
    networks:
      - kafka-net
    container_name: controller-2
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9093"]
      interval: 10s
      timeout: 5s
      retries: 5

  controller-3:
    build: ./kafka
    networks:
      - kafka-net
    container_name: controller-3
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: controller
      KAFKA_LISTENERS: CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "9093"]
      interval: 10s
      timeout: 5s
      retries: 5

  broker-1:
    build: ./kafka
    networks:
      - kafka-net
    container_name: broker-1
    ports:
      - 29092:9092
    environment:
      KAFKA_NODE_ID: 4
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-1:19092,PLAINTEXT_HOST://localhost:29092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      controller-1:
        condition: service_healthy
      controller-2:
        condition: service_healthy
      controller-3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "19092"]
      interval: 10s
      timeout: 5s
      retries: 5

  broker-2:
    build: ./kafka
    networks:
      - kafka-net
    container_name: broker-2
    ports:
      - 39092:9092
    environment:
      KAFKA_NODE_ID: 5
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-2:19092,PLAINTEXT_HOST://localhost:39092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      controller-1:
        condition: service_healthy
      controller-2:
        condition: service_healthy
      controller-3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "19092"]
      interval: 10s
      timeout: 5s
      retries: 5

  broker-3:
    build: ./kafka
    networks:
      - kafka-net
    container_name: broker-3
    ports:
      - 49092:9092
    environment:
      KAFKA_NODE_ID: 6
      KAFKA_PROCESS_ROLES: broker
      KAFKA_LISTENERS: 'PLAINTEXT://:19092,PLAINTEXT_HOST://:9092'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://broker-3:19092,PLAINTEXT_HOST://localhost:49092'
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@controller-1:9093,2@controller-2:9093,3@controller-3:9093
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    depends_on:
      controller-1:
        condition: service_healthy
      controller-2:
        condition: service_healthy
      controller-3:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "19092"]
      interval: 10s
      timeout: 5s
      retries: 5

  producer-service:
    container_name: producer-service
    build: ./producer-service
    networks:
      - kafka-net
    ports:
      - "3001:3001"
    environment:
      BOOTSTRAP_SERVERS: 'broker-1:19092,broker-2:19092,broker-3:19092'
    depends_on:
      - broker-1
    command: ["npm", "start"]
    restart: unless-stopped
    
  consumer-service:
    container_name: consumer-service
    build: ./consumer-service
    networks:
      - kafka-net
    depends_on:
      - broker-1
    command: ["/bin/sh", "-c", "sleep 5 && npm start"]
    restart: unless-stopped

  consumer-postgres:
    build: ./consumer-service
    container_name: consumer_postgres
    command: node consumer-postgres.js
    networks:
      - kafka-net
    environment:
      DB_USER: 'admin'
      DB_HOST: 'postgres-db' 
      DB_DATABASE: 'events_db'
      DB_PASSWORD: 'admin_password'
      DB_PORT: 5432
    depends_on:
      postgres-db:
        condition: service_healthy 
      broker-1:
        condition: service_started
      broker-2:
        condition: service_started
      broker-3:
        condition: service_started
    restart: on-failure

  consumer-archive:
    build: ./consumer-service 
    container_name: consumer_archive
    networks:
      - kafka-net
    command: node consumer-archive.js
    volumes:
      - ./archives:/usr/src/app/archives
    depends_on:
      broker-1:
        condition: service_started
      broker-2:
        condition: service_started
      broker-3:
        condition: service_started
    restart: on-failure

  react-snake:
    build: ./app_snake
    container_name: react_snake_game
    networks:
      - kafka-net
    ports:
      - "8080:80"
    restart: unless-stopped

  connect:
    build: ./kafka_connect
    container_name: kafka-connect
    networks:
      - kafka-net
    ports:
      - "8083:8083"
    depends_on:
      postgres-db:
        condition: service_healthy
      mysql-db:
        condition: service_healthy
      broker-1:
        condition: service_healthy
      broker-2:
        condition: service_healthy
      broker-3:
        condition: service_healthy
    environment:
      BOOTSTRAP_SERVERS: 'broker-1:19092,broker-2:19092,broker-3:19092'
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: 'connect_configs'
      OFFSET_STORAGE_TOPIC: 'connect_offsets'
      STATUS_STORAGE_TOPIC: 'connect_statuses'


volumes:
  postgres_data:
  mysql_data:

networks:
  kafka-net:
    driver: bridge